<!-- .home -->
<div class='row-fluid band pinkband'>
    <div class='row-fluid'>
        <h3>Enter a URL for a Song:</h3>
        <input type="text"></input>
        <div class='btn btn-primary btn-large' style='margin-top: 30px'>Create Link</div>
    </div>
</div>
