<!-- .home -->
<div class='row-fluid band pinkband'>
    <div class='row-fluid'>
        <h4>Enter a URL for a Song:</h4>
        <div class='row-fluid'>
            <form class='song-url-form'>
                <input type="text"></input>
            </form>
            <div class='btn btn-primary btn-large' style='margin-top: 30px'>Create Link</div>
        </div>
    </div>
</div>
